*{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(232, 232, 232);
}
canvas {
  background: linear-gradient(0deg, rgba(157,157,157,1) 0%, rgb(216, 216, 216) 100%);
}

.AssetsMenu {
  background-color: rgb(255, 255, 255);
  width: 365px;
  height: 100%;
}